.structure-data-editor__bigimage {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(238, 238,238,0.7);
	z-index: 999;
}

.structure-data-editor__bigimage img {
	max-height: 95vh;
	max-width: 95vw;
}

.structure-data-editor__thumbnails {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}
.structure-data-editor__thumbnail {
	height: 500px;
	min-width: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
}
.structure-data-editor__thumbnail figure {
	display: flex;
	position: relative;
	flex-direction: column;
}

.structure-data-editor__thumbnail figure .blurred {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(238, 238,238,0.7);
	z-index: 25;
}

.structure-data-editor__thumbnail figure .selected {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(82,159,242,0.3);
}

.structure-data-editor__thumbnail img {
	max-height: 400px;
}
.structure-data-editor__thumbnail-image-order {
	padding: 5px 10px;
}

.mets-image__wrapper {
	position: relative;
	display: grid;
	grid-template-columns: auto 2fr;
	justify-content: center;
	padding: 5px 5px 5px 0;
	border: 3px solid rgba(255, 255, 255, 0);
}

.mets-image__wrapper.selected {
	border-color: rgba(82,159,242,0.3);
/* 	background-color: #ccc; */
}

.mets-image__preloader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-image: url('/goobi/uii/template/img/goobi/ajaxloader2.gif');
	background-repeat: no-repeat;
}

.mets-image__paginator {
	padding: 0 15px 5px 5px;
	color: black;
	font-size: 16px;
}
.mets-image__structure-type {
	padding: 3px 15px 3px 5px;
	z-index: 12;
}

.mets-image__structure-type.empty {
	padding: 0 0 0 5px;;
}

.mets-image__structure-type span.letter-icon {
	display:inline-block;
    font-size:1.3em;
    width:2em;
    height:2em;
    line-height:2em;
    text-align:center;
    border-radius:50%;
    background:red;
    vertical-align:middle;
    color:white;
    font-weight: bold;
    margin: 3px;
    cursor: default;
    z-index: 50;
}

.mets-image__structure-type .me-tooltip {
	display: none;
	position: absolute;
	border: 1px solid #666;
	padding: 6px;
	top: 0px;
	font-size: 14px;
	color: black;
	background-color: #fff;
	font-weight: normal;
	line-height: 16px;
	z-index: 999;
}

.mets-image__structure-type .me-tooltip.in {
	display: block;
}

.mets-image__structure-type .structure-level {
	position: relative;
}

.mets-image__structure-type span.letter-icon.menu-open,
.mets-image__structure-type span.letter-icon:hover {
/* 	border: 1px solid black; */
}


.alt-menu {
	position: absolute;
	z-index: 50;
/* 	width: 300px; */
/* 	height: 400px; */
}

.alt-menu .dropdown-menu {
	display: block;
}

.metadata-image {
	max-height: 98vh;
	max-width: 100%;
}

.metadata-docstruct-row {
	margin-bottom: 1vh;
	padding-top: 1vh;
	position:relative;
	height: 99vh;
}

.metadata-save-button {
	position: absolute;
	bottom: 0px;
	right: 15px;
}

.show-tree {
	position: fixed;
	top: 50%;
	left: 25px;
	font-size: 25px;
	cursor: pointer;
}

.side-tree-inside {
	position: relative;
	height: 90vh;
	max-height:100vh;
	overflow: auto;
	font-size: 14px;
}

.hide-tree {
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: 25px;
	cursor: pointer;
}

.side-tree {
	position: -webkit-sticky;
  	position: sticky;
  	top: 10px;
}

.side-tree ul {
	padding-left: 15px;
	list-style: none;
}

.side-tree li {
	padding-left: 12px;
}

.side-tree li.has-children {
	padding-left: 0px;
}

.side-tree li.has-children:before {	
	content: "-";
	margin-right: 5.5px;
}

.side-tree ul.is-root {
	padding-left: 0px;
}

.side-tree->ul.is-root->li {
	padding-left: 0px;
}

.side-tree li.has-children.hiddenchildren:before {
	content: "+";
	margin-right: 4px;
}

.side-tree ul li a {
	color: black;
}

.side-tree ul li.has-children a {
	cursor: pointer;
}

.side-tree ul li.no-children a {
	cursor: text;
}

#checkboxSelectAllLabel {
	margin-left: 10px;
}

.footer-actions {
	float: right;
}

.footer-actions .btn:not(:last-child) {
	margin-right: 15px;
}